html {
	height: 100%
}

body {
	height: 100%; 
	margin: 0;
	padding : 0
}	

.header-wrap {
	background: #3D3D3D;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 5px #919191;
	-moz-box-shadow: 0px 2px 5px #919191;
	box-shadow: 0px 2px 5px #919191;
}

.main-nav {
	width: 90%;
	margin: auto;
}

.main-nav ul {
	margin: 15px 0 0 0;
	list-style-type: none;
	text-align: right;
	font-size: 16px;
}

.main-nav ul li{
	display: inline;
	margin: 15px;
}

.main-nav ul li a{
	text-align: center;
	padding: .2em .4em .8em .4em;
  	color: #FFF;
  	font-weight: 200;
  	text-decoration: none;
  	border-bottom: 2px solid #CC3300;
  	-o-transition:border-bottom-color .2s ease-in;
  	-ms-transition:border-bottom-color .2s ease-in;
  	-moz-transition:border-bottom-color .2s ease-in;
  	-webkit-transition:border-bottom-color .2s ease-in;
  	transition:border-bottom-color .2s ease-in;
}

.main-nav ul li a:hover{
	border-bottom-color: #FFF;
}

#container {

	height: 100%; 
	width : 100%;

}

#map-canvas {
	height: 100%; 
	width : 75%;
	float: left;
}

#sliders-canvas{

	height: 100%; 
	width : 25%;
	float: left;
	margin-left: 30 px;

}

#sliders{
	
	
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}


.footer-wrap {
	padding: 0;
	background-color : #000000;
}